/*Generic page styling */
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

  background-color: white;
  font-family: "Lato", sans-serif;
}

.home {
  background-color:white;
  text-align:center;
  padding-top: 1%;
  font-size: 200%;
}
